@import url('https://fonts.googleapis.com/css?family=Quicksand|Megrim');

body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Quicksand', sans-serif;
}

.heading-container {
  /* height: 75vh; */
  overflow: hidden;
}

.name {
  font-family: 'Megrim', cursive;
  font-size: 2.5rem;
  margin: 0;
  padding-top: 1rem;
}

.heading {
  font-family: 'Megrim', cursive;
  font-size: 1.5rem;
  margin: 0px;
  padding-bottom: 20vh;
}

.menu {
  transform: rotate(90deg);
  height: 30px
}

.s-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.s-option {
  font-family: 'Megrim', cursive;
  font-size: 1.3rem;
  padding: 10px;
}

.s-option:hover {
  border-bottom: 1px grey solid;
  border-top: 1px grey solid;
}

.name {
  font-family: 'Megrim', cursive;
  font-size: 2.5rem;
  margin: 0;
  padding-top: 1rem;
  margin-right: 15px;
}

.option {
  padding: 5px;
  border-bottom: 1px grey solid;

}

@media (min-width: 944px) {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

  }
}


/* Projects CSS */

.projects-container {
  background-color: white;
  width: 85vw;
  margin: auto;
}

.projects-container > h3 {
  font-family: 'Megrim', cursive;
}

/* Project card CSS */
.card-container {
  width: 75vw;
  margin: auto;
  margin-top: 5%
}

.card-image {
  width: 75vw;
  height: auto; 
  border: 1px solid #eeeeee;
}

.card-info {
  position: absolute;
  width: 70vw;
  margin-left: 50px;
}

.hidden {
  visibility: hidden;
  /* z-index: -1; */
  /* color: transparent; */
}

.visible {
  z-index: 1;
}

.opacity {
  opacity: .2;
}

/* Media queries */

@media(min-width: 768px) {
  .projects-container{
    padding-bottom: 14px;
    padding-top: 14px;
    height: 88vw;
    width: 90vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-info {
    width: 27vw;
    margin: 0px;
  }

  .card-image {
    width: 27vw;
  }
  
  .card-container {
    width: 27vw;
    margin: 0;
  }
  .miles > img { 
    /* height: 43vh */
    height: 53vw;
  } 

  .lemon > img {
    /* height: 42vh; */
    height: 53vw
  } 
}

/* Footer CSS */

.footer-container {
  height: 40vh;
  width: 100vw;
  background-color: white;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  margin-top: 20vh;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 16vh;
  justify-content: space-between;
  padding-top: 60px;
}

.contents {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
}

.form-container {
  width: 30vw;
  padding-top: 25px;
}

.form-container > div {
  padding-top: 10px;
}

input {
  height: 20px;
}

input, textarea {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  border-width: 1px;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;  
  cursor: pointer;
}

a {
  text-decoration: none;
}
